$color1: #ffffff;
$color2: #9d67c9;
$color3: #6f6473;;
$color4: #c8a5d4;
$color6: #aeb2b8;

@font-face {
    font-family: poppinsBold;
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: updockRegular;
    src: url(../fonts/Updock-Regular.ttf);
}

@font-face {
    font-family: poppinsMedium;
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppinsItalicBold;
    src: url(../fonts/Poppins-BoldItalic.ttf);
}

@font-face {
    font-family: poppinsRegular;
    src: url(../fonts/Poppins-Regular.ttf);
}